

	<style> 

.dark {
  background-color: black;
}
.blue{
	color:blue;
}

.red{
	color:red;
}

.yellow{
	color:yellow;
}
}




}
	</style>

<html>
<body class={{theme}}>
	<h1>
		<p class ={{secondaryT}} style="text-align: center; font-size: 40px; font-family: Monaco"> Hypixel Player Stat Checker </p>
	<p style ="font-family: Monaco; font-size: 20px; color:red"> That player does not exist, enter another username here: </p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<form method="POST" action="/search">
	<input style="height: 30px; width: 200px;" type="text" id="Susername" name="Susername">
	<button type="submit" class={{secondaryB}}>Submit</button>
	</form>
</body>
<form action='/home'>
<button type="submit" class={{secondaryB}}>Home</button>
</form>
</html>





