
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="static/style.css">
<body class={{theme}}>
<form action="/listsettings">
<button class={{secondaryB}} type="submit">Player List Settings</button>
</form>
<h2 class={{secondaryT}}>
Main Theme: 
</h2>
<form style='display: inline;' method="get" action="/lightTheme">
<button type="submit" class="btn-light btn-lg">Light</button>
</form>
<form style='display: inline;' method="get" action="/darkTheme">
<button type="submit" class="btn-dark btn-lg">Dark</button>
</form>
<br>
<h2 class={{secondaryT}}>
Secondary Theme: 
<h2>
<form style='display: inline;' method="get" action="/blueSecondary">
<button type="submit" class="btn-primary btn-lg">Blue</button>
</form>
<form style='display: inline;' method="get" action="/redSecondary">
<button type="submit" class="btn-danger btn-lg">Red</button>
</form>
<form style='display: inline;' method="get" action="/yellowSecondary">
<button type="submit" class="btn-warning btn-lg">Yellow</button>
</form>

	<h1 class={{secondaryT}}>*note first stat preference is what your list will be ordered by</h1>
<div class="statform">
<form action="/home" method = "post">
<select name = "stat1" class="custom-select">
  <option selected>{{s1default}}</option>
  <option value="Skywars Kills">Skywars Kills</option>
  <option value="Skywars Wins">Skywars Wins</option>
  <option value="Skywars K/D">Skywars K/D</option>
	<option value="Skywars Star">Skywars Star</option>
	<option value="Skywars W/L">Skywars W/L</option>
	<option value="Bedwars Finals">Bedwars Finals</option>
	<option value="Bedwars Wins">Bedwars Wins</option>
	<option value="Bedwars Final K/D">Bedwars Final K/D</option>
	<option value="Bedwars Star">Bedwars Star</option>
	<option value="Bedwars Winstreak">Bedwars Winstreak</option>
	<option value="Bedwars W/L">Bedwars W/L</option>
	<option value="Hypixel Level">Hypixel Level</option>
</select>
<br>
<select name = "stat2" class="custom-select">
  <option selected>{{s2default}}</option>
  <option value="Skywars Kills">Skywars Kills</option>
  <option value="Skywars Wins">Skywars Wins</option>
  <option value="Skywars K/D">Skywars K/D</option>
	<option value="Skywars Star">Skywars Star</option>
	<option value="Skywars W/L">Skywars W/L</option>
	<option value="Bedwars Finals">Bedwars Finals</option>
	<option value="Bedwars Wins">Bedwars Wins</option>
	<option value="Bedwars Final K/D">Bedwars Final K/D</option>
	<option value="Bedwars Star">Bedwars Star</option>
	<option value="Bedwars Winstreak">Bedwars Winstreak</option>
	<option value="Bedwars W/L">Bedwars W/L</option>
	<option value="Hypixel Level">Hypixel Level</option>
</select>
<select name = "stat3"class="custom-select">
  <option selected>{{s3default}}</option>
  <option value="Skywars Kills">Skywars Kills</option>
  <option value="Skywars Wins">Skywars Wins</option>
  <option value="Skywars K/D">Skywars K/D</option>
	<option value="Skywars Star">Skywars Star</option>
	<option value="Skywars W/L">Skywars W/L</option>
	<option value="Bedwars Finals">Bedwars Finals</option>
	<option value="Bedwars Wins">Bedwars Wins</option>
	<option value="Bedwars Final K/D">Bedwars Final K/D</option>
	<option value="Bedwars Star">Bedwars Star</option>
	<option value="Bedwars Winstreak">Bedwars Winstreak</option>
	<option value="Bedwars W/L">Bedwars W/L</option>
	<option value="Hypixel Level">Hypixel Level</option>
</select>
<button type="submit" class="{{secondaryB}}">Save</button>
</form>
</div>
<form action="/home">
<br>
<button class={{secondaryB}} type="submit">cancel</button>
</form>
</body>
